file "db/bpm.rec"
{
    pattern { VIEW  }
            { out:100ms }
}

file "db/bpm_book_keeping.rec"
{
    pattern { VIEW  }
            { out:100ms   }
}

file "db/bpm_with_stats.rec"
{
    pattern { VIEW  }
            { out:2s:x }
            { out:2s:y }
}

file "db/bpm_book_keeping.rec"
{
    pattern { VIEW  }
            { out:2s }
}
