file "db/bpm.rec"
{
    pattern { VIEW  }
            { cur }
}

file "db/bpm_book_keeping.rec"
{
    pattern { VIEW  }
            { cur   }
}

file "db/bpm_with_stats.rec"
{
    pattern { VIEW  }
            { jiffy:x }
            { jiffy:y }
}

file "db/bpm_book_keeping.rec"
{
    pattern { VIEW  }
            { jiffy }
}
