RSYNC_DIST_HOST=iocadm@nfs.mlscs.bessy.de
RSYNC_DIST_PATH=/opt/IOC/BPM-Combiner/dist
RSYNC_DIST_LINKPATH=/opt/IOC/BPM-Combiner/links
RSYNC_DIST_PREFIX_DISTDIR=1
RSYNC_DIST_LOCALPATH=bin,db,dbd,version
RSYNC_DIST_LOCALPREFIX=
RSYNC_DIST_WORLDREADABLE=1
RSYNC_DIST_CHECKSUM=1
RSYNC_DIST_EDITOR_NO_DEFAULTS=1
RSYNC_DIST_MESSAGE=
RSYNC_DIST_TAG=
